.container {
    display: flex;
    flex-wrap: wrap;
    align-content:center;
	text-align: center;
    text-align-last: center;
}

.title {
    width: 100%;
	margin-top: 10px;
    margin-right: auto;
    margin-left:auto;
}

.text-field-theme {
    width: 100%;
	margin-top: 10px;
    margin-right: auto;
    margin-left:auto;
    text-align: left;
}

.text-field-description {
    width: 100%;
	margin-top: 10px;
    margin-right: auto;
	margin-left: auto; 
}

.text-field-data {
    width: 100%;
	margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

.text-field-place {
    width: 100%;
	margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

.button-createevent {
    width: 100%;
	margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

input[type=text]{
   width:600px;
   height: 30px;
   border:1px solid #999;
   font-size: 16pt;
   text-align: left;
}

textarea[type=textarea]{
   width:600px;
   height: 100px;
   border:1px solid #999;
   font-size: 16pt;
}

input[type=date]{
   width:600px;
   height: 60px;
   border:1px solid #999;
   font-size: 12pt;
}

button[type=button]{
   font-size: 12pt;
}
