<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online store</title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jspdf.min.js"></script>
    <script src="/js/script.js"></script>
</head>
<body>
<div>
    Add new product
    <div>
        <form method="post" action="/products/add">
            <input type="text" name="name" placeholder="name"/>
            <input type="text" name="price" placeholder="price">
            <input type="text" name="ean" placeholder="ean">
            <button type="submit">Add</button>
        </form>
    </div>
    <div>Products list</div>
    <form method="get" action="filter">
        <input type="text" name="filter">
        <button type="submit">Find</button>
    </form>
    <div id="content">
        {{#products}}
            <div>
                {{id}}
                <b>{{name}}</b>
                <span>{{price}}</span>
                <i>{{ean}}</i>
            </div>
        {{/products}}
    </div>

    <div>
        Create cart
        <form method="post" action="/cart/create">
            <button type="submit">Create</button>
        </form>
        <div>
            {{#cart}}
                <div>
                    {{id}}
                </div>
            {{/cart}}
        </div>

    </div>

    <div>
        Add product in cart
        <form method="post" action="/cart/add">
            <input type="text" name="cartId" placeholder="cart id"/>
            <input type="text" name="productId" placeholder="product id">
            <input type="text" name="quantity" placeholder="quantity">
            <button type="submit">Add</button>
        </form>
    </div>


    <div>
        <button id="cmd">generate PDF</button>
    </div>

</body>
</html>